.container.testimonials_container{
    padding-bottom: 4rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-evenly;
    gap: 2rem;
    /* overflow: hidden; */
}

.certificate{
    width: max-content;
    border-bottom: 4px solid white;
    margin: 2rem;
}

.certificate .certificate_details span{
    cursor: pointer;
    text-decoration: underline;
}


/*---------Media Queries (Medium Devices) ----------------*/

@media screen and (max-width: 1024px){
    .container.testimonials_container{
        width: 60%;
        /* width: var(--container-width-sm); */
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        font-size: 12px;
        margin: 0;
        /* gap: 10rem; */
    }

    .certificate{
        margin-left: auto;
    }
}


/*---------Media Queries (Small Devices) ----------------*/

@media screen and (max-width: 600px){
    .container.testimonials_container{
        width: var(--container-width-sm);
        display: grid;
        grid-template-columns: repeat(1,minmax(0,1fr));
        font-size: 12px;
        margin: 1.5rem;
        gap: 0;
    }

    .certificate_title{
        width:320px;
    }
}